/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/resources/css
/resources/images
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/vendor
.DS_Store
.mount_data
.env
.env.task
*.tgz
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
rr
rr.exe
processed.yaml
/docker/web/app/mysql/data
/temporal
/portainer
.aider*
.claudeignore
helmfile.yaml
