POSTGRES_DB=資料庫名稱
POSTGRES_USER=sudo 權限者
POSTGRES_PASSWORD=sudo 權限者
DB_MIGRATE_USERNAME= migration 使用者
DB_MIGRATE_PASSWORD= migration 使用者
DB_USER=應用程式使用者
DB_PASSWORD=應用程式使用者密碼
DB_BACKUP_USERNAME= 備份的使用者
DB_BACKUP_PASSWORD= 備份使用者的密碼