# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# K8s Secret: app-env-database-secret  (namespace: web)
# script: create-env-secret.sh app-env-database-secret --env-path=environment/postgresql/app/app.env
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

APP_POSTGRES_DB=
APP_POSTGRES_USER=
APP_POSTGRES_PASSWORD=
APP_DB_MIGRATE_USERNAME=
APP_DB_MIGRATE_PASSWORD=
APP_DB_USER=
APP_DB_PASSWORD=
APP_DB_BACKUP_USERNAME=
APP_DB_BACKUP_PASSWORD=

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# K8s Secret: temporal-secret + app-env-database-secret  (namespace: service)
# script: temporal-secret.sh + create-env-secret.sh --env-path=environment/postgresql/dapr-workflow/dapr-workflow.env
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

TEMPORAL_POSTGRES_DB=
TEMPORAL_POSTGRES_USER=
TEMPORAL_POSTGRES_PASSWORD=
TEMPORAL_DB_USER=
TEMPORAL_DB_PASSWORD=

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# K8s Secret: forgejo-db-secret  (namespace: forgejo)
# script: create-env-secret.sh forgejo-db-secret --env-path=environment/postgresql/forgejo/forgejo.env
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

FORGEJO_POSTGRES_DB=
FORGEJO_POSTGRES_USER=
FORGEJO_POSTGRES_PASSWORD=
FORGEJO_DB_BACKUP_USERNAME=
FORGEJO_DB_BACKUP_PASSWORD=

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# K8s Secret: forgejo-runner-secret  (namespace: forgejo)
# script: create-env-secret.sh forgejo-runner-secret --env-path=environment/forgejo/runner.env
# repo設定(非個人設定)->actions->runner 建立token
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

RUNNER_CONFIG_NAME=sureway-server
RUNNER_CONFIG_INSTANCE=http://forgejo-http.forgejo.svc.cluster.local:3000
RUNNER_CONFIG_TOKEN=

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# K8s Secret: forgejo-admin-secret  (namespace: forgejo)
# script: kubectl create secret generic forgejo-admin-secret --from-literal=username --from-literal=password
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

FORGEJO_ADMIN_USERNAME=
FORGEJO_ADMIN_PASSWORD=

# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# K8s Secret: registry-auth  (namespace: default)
# script: task bootstrap:registry-secret
# 建立方式：填入帳號密碼後執行 task bootstrap:registry-secret，會自動以 bcrypt 生成 htpasswd 並建立 secret
# docker login registry.local 使用此帳密登入
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

REGISTRY_USERNAME=
REGISTRY_PASSWORD=
